.contact-form-section {
    &__contact-content {
        position: $default-relative-position;
        width: $default-width;
        height: $height-auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        @include respond(big-desktop) {
            height: $height-auto;
        }

        @include respond(tablet-landscape) {
            height: $height-auto;
        }

        @include respond(tablet-portrait) {
            height: $height-auto;
        }

        @include respond(phone) {
            height: $height-auto;
        }
    }

    &__bg-image-overlay {
        // height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // content: "";
        position: $default-relative-position;
    }

    h1 {
        color: $color-white;

        @include respond(phone) {
            font-size: $body-copy-font-size;
        }
    }

    &__ready-to-start-form {
       padding-left: 5rem;
       padding-bottom: 5rem;
       padding-right: 5rem;
       padding-top: 5rem;

       position: $default-relative-position;
       z-index: 1;
    }
}